.nav-git{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.div-drop{
    width: 10%;
    display: flex;
    justify-content: flex-end;
}

.div-group-git{
    width: 150% !important;
}
.div-search{
    display: flex;
    align-items: flex-end;
    width: 50%;
    margin-bottom: 5px !important;
}

.nav-response{
    width: 15%;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
}
a{
    text-decoration: none;
}
span{
    color: #fff;
}
.row-git{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.circle {
    border-radius: 50%;
    max-width:20%;
    max-height:10%;
    width: auto;
    height: auto;
}
.img-nav{
    max-width:70%;
    max-height:80%;
    width: auto;
    height: auto;
}
.icon-lang{
    width:30px;
    height:30px;
}
.logo{
    max-width:15%;
    max-height:10%;
    width: auto;
    height: auto;
}
.panel-git{
    background-color:silver;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px 20px 20px;
}
.flex{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h6{
    font-weight: bolder;
}
.flex > select{
    margin-left: 10px;
}
.btn-start-end{
    display: flex;
    align-items: flex-end;
}

@media only screen and (max-width: 500px) {
    .circle {
        max-width:70%;
        max-height:45%;
    }
    td{
        font-size: 0.7em;
    }
    .img-nav{
        max-width:100%;
        max-height:10%;
    }
    .nav-response{
        display: none;
    }
    .div-search{
        width: 65%;
    }
    .div-drop{
        width: 35%;
    }
    .row-git{
        display: block;
        flex-flow: column nowrap;
    }
    .btn-start-end{
        margin-top: 10px;
    }
    .flex{
        width: 100%;
        flex-direction: column;
    }
    .flex > select{
        margin-left: 0px;
    }
    select, option, span{
        font-size: 0.7em;
    }
    select{
        max-width: 100%;
        max-height: 50%;
        height: auto;
        width: auto;
    }

  }
